<h1>Games#game</h1>
<p>Find me in app/views/games/game.html.erb</p>

<h3>Here is your random grid of words</h3>
  <p><%= @grid.join(" ") %></p>
  <p><%= "*************************"  %></p>

<p>The current time is <%= @start_time %></p>
<h3>What is your longest word?</h3>
<form action="/score" method="get">
  <label for="answer">Type in your best shot</label>
  <input type="text" name="attempt">
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="submit" value="Go on!">
</form>




