<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>


<%= @grid %>

<h3>Your Word: <%= @answer %> </h3>
<h3>Time Taken to answer: <%= @results[:time] %></h3>
<h3>Your Score: <%= @results[:score] %></h3>
<h3>Message: <%= @results[:message] %></h3>

